In [1]:
# Data Pre-Processing

In [13]:
import pandas as pd
import numpy as np

In [14]:
import warnings
warnings.filterwarnings('ignore')

In [15]:
data=pd.read_csv('T1 (1).csv')

In [16]:
data.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [17]:
data.shape

(50530, 5)

In [18]:
data.size

252650

In [19]:
df=data.dropna()

In [20]:
df.columns

Index(['Date/Time', 'LV ActivePower (kW)', 'Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)', 'Wind Direction (°)'],
      dtype='object')

In [21]:
df.tail()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [22]:
df.shape

(50530, 5)

In [23]:
df.size

252650

In [24]:
df.describe()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
count,50530.000000,50530.000000,50530.000000,50530.000000
mean,1307.684332,7.557952,1492.175463,123.687559
std,1312.459242,4.227166,1368.018238,93.443736
min,-2.471405,0.000000,0.000000,0.000000
25%,50.677890,4.201395,161.328167,49.315437
50%,825.838074,7.104594,1063.776283,73.712978
75%,2482.507568,10.300020,2964.972462,201.696720
max,3618.732910,25.206011,3600.000000,359.997589

In [25]:
df.corr()

,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
LV ActivePower (kW),1.000000,0.912774,0.949918,-0.062702
Wind Speed (m/s),0.912774,1.000000,0.944209,-0.077188
Theoretical_Power_Curve (KWh),0.949918,0.944209,1.000000,-0.099076
Wind Direction (°),-0.062702,-0.077188,-0.099076,1.000000

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

In [27]:
df.isnull()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
50525,False,False,False,False,False
50526,False,False,False,False,False
50527,False,False,False,False,False
50528,False,False,False,False,False
50529,False,False,False,False,False

In [28]:
df.isnull().sum()

Date/Time                        0
LV ActivePower (kW)              0
Wind Speed (m/s)                 0
Theoretical_Power_Curve (KWh)    0
Wind Direction (°)               0
dtype: int64

In [34]:
df=df.rename({'Date/Time ':'Date_Time ','LV ActivePower | (kW)':'LV_ActivePower',
              'Wind Speed | (m/s)':'Wind_Speed','Wind Direction | (°)':'Wind_Direction',
              'Theoretical_Power_Curve | (kWh)':'Theoretical_Power_Curve'},axis=1)

In [35]:
df.columns

Index(['Date_Time', 'LV ActivePower (kW)', 'Wind Speed (m/s)',
       'Theoretical_Power_Curve (KWh)', 'Wind Direction (°)'],
      dtype='object')

In [36]:
a=df['LV ActivePower (kW)'].unique()
a.sort()
print(a)

[-2.47140503e+00 -1.07713103e+00 -9.58999574e-01 ...  3.60504712e+03
  3.60575806e+03  3.61873291e+03]

In [37]:
print('Maximum Power Generated by system(kW):',df['LV ActivePower (kW)'].max())
print('Minimum Power Generated by system(kW):',df['LV ActivePower (kW)'].min())
print('Mean of System Power Generated','%.2f'% df['LV ActivePower (kW)'].mean())
print('Median of System Power Generated','%.2f'% df['LV ActivePower (kW)'].median())
print('Mode of System Power Generated','%.2f'% df['LV ActivePower (kW)'].mode())

Maximum Power Generated by system(kW): 3618.73291015625
Minimum Power Generated by system(kW): -2.47140502929687
Mean of System Power Generated 1307.68
Median of System Power Generated 825.84
Mode of System Power Generated 0.00

In [38]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
50525    False
50526    False
50527    False
50528    False
50529    False
Length: 50530, dtype: bool

In [39]:
sum(df.duplicated())

0